on:
  workflow_call:
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true
    # push:
    #     branches:
    #         - main

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        steps:
            - name: checkout repo
              uses: actions/checkout@v4

            - name: enable docker buildkit
              uses: docker/setup-buildx-action@v3

            - name: Build the docker image
              run: docker build -t mini-node-app:latest .

            - name: Verify the docker image runs
              run: |
                  docker run -d -p 6800:6800 --name mini-node-app-test mini-node-app:latest
                  sleep 2
                  
            
            - name: run health check
              run: |
                for i in {1..3}; do
                    if curl -fsS http://localhost:6800/health; then
                      echo "Health check passed!"
                      exit 0
                    else
                      echo "Health check failed, retrying... ($i/3)"
                      sleep 2
                    fi

                  done
                  echo "Health check failed after 3 attempts."
                  docker logs mini-node-app-test || true
                  exit 1


            - name: stop and remove test container
              run: |
                  docker stop mini-node-app-test
                  docker rm mini-node-app-test

            - name: login to dockerhub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: push the docker image
              uses: docker/build-push-action@v6
              with:
                  context: .
                  push: true
                  tags: ${{ secrets.DOCKERHUB_USERNAME }}/mini-node-app:latest
