on:
  workflow_call:
    # push:
    #     branches:
    #         - main

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        steps:
            - name: checkout repo
              uses: actions/checkout@v4

            - name: enable docker buildkit
              uses: docker/setup-buildx-action@v3

            - name: login to dockerhub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: push the docker image
              uses: docker/build-push-action@v6
              with:
                  context: .
                  push: true
                  tags: ${{ secrets.DOCKERHUB_USERNAME }}/mini-node-app:latest
