# Trigger the workflow on push to the main branch
on:
  push:
    branches:
      - main
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Execute Lint
        run: npm ci && npm run lint:ci

  build:
    needs: lint
    uses: ./.github/workflows/build-push.yml
