name: SSM Simple Test (2 steps)

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  ssm-test:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Send SSM command
        id: send
        shell: bash
        run: |
          CMD_ID=$(aws ssm send-command \
            --document-name "AWS-RunShellScript" \
            --instance-ids "${{ secrets.SSM_INSTANCE_ID }}" \
            --parameters commands='["docker run -d -p 6800:6800 --name zebby ahmadsamehh/mini-node-app:latest ","docker logs zebby"]' \
            --query "Command.CommandId" \
            --output text)
          echo "command_id=$CMD_ID" >> "$GITHUB_OUTPUT"
          echo "SSM CommandId: $CMD_ID"

      - name: Print SSM output
        shell: bash
        run: |
          sleep 10
          aws ssm get-command-invocation \
            --command-id "${{ steps.send.outputs.command_id }}" \
            --instance-id "${{ secrets.SSM_INSTANCE_ID }}" \
            --query 'StandardOutputContent' \
            --output text
